In [1]:
import pandas as pd

In [3]:
dt=pd.read_csv('retail_store_inventory.csv')

In [5]:
dt

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [7]:
dt.dtypes

Date                   object
Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object

In [9]:
dt.columns

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [11]:
dt.describe

<bound method NDFrame.describe of              Date Store ID Product ID     Category Region  Inventory Level  \
0      2022-01-01     S001      P0001    Groceries  North              231
1      2022-01-01     S001      P0002         Toys  South              204
2      2022-01-01     S001      P0003         Toys   West              102
3      2022-01-01     S001      P0004         Toys  North              469
4      2022-01-01     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  2024-01-01     S005      P0016    Furniture   East               96
73096  2024-01-01     S005      P0017         Toys  North              313
73097  2024-01-01     S005      P0018     Clothing   West              278
73098  2024-01-01     S005      P0019         Toys   East              374
73099  2024-01-01     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]>

In [13]:
dt.shape

(73100, 15)

In [15]:
dt.tail(7)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
73093,2024-01-01,S005,P0014,Toys,West,328,190,43,183.97,66.50,0,Snowy,1,65.12,Winter
73094,2024-01-01,S005,P0015,Furniture,North,408,323,92,336.64,83.26,0,Sunny,0,80.96,Winter
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [17]:
dt.head(5)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [21]:
dt.index

RangeIndex(start=0, stop=73100, step=1)

In [23]:
dt.sort_values(by="Region")

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring
47103,2023-04-17,S001,P0004,Clothing,East,450,0,105,15.99,40.51,15,Snowy,1,42.69,Autumn
47106,2023-04-17,S001,P0007,Clothing,East,301,6,49,14.50,34.08,20,Cloudy,1,37.84,Spring
47115,2023-04-17,S001,P0016,Toys,East,243,188,45,180.80,45.67,0,Cloudy,1,46.00,Summer
47116,2023-04-17,S001,P0017,Toys,East,81,62,135,62.12,17.25,20,Snowy,1,15.11,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15537,2022-06-05,S002,P0018,Groceries,West,418,39,143,47.96,65.68,0,Cloudy,0,62.50,Summer
49718,2023-05-13,S001,P0019,Clothing,West,180,81,82,96.37,76.56,10,Cloudy,0,75.09,Spring
15539,2022-06-05,S002,P0020,Furniture,West,107,86,139,86.47,26.53,15,Cloudy,1,30.24,Summer
49746,2023-05-13,S003,P0007,Clothing,West,160,35,194,45.92,25.20,0,Cloudy,1,22.61,Autumn
14606,2022-05-27,S001,P0007,Clothing,West,441,91,48,94.89,21.33,10,Sunny,0,19.48,Autumn

In [25]:
dt.iloc[:3 , :5]

         Date Store ID Product ID   Category Region
0  2022-01-01     S001      P0001  Groceries  North
1  2022-01-01     S001      P0002       Toys  South
2  2022-01-01     S001      P0003       Toys   West

In [27]:
dt.iloc[:4, :]

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn

In [29]:
dt.iloc[:, :5]

             Date Store ID Product ID     Category Region
0      2022-01-01     S001      P0001    Groceries  North
1      2022-01-01     S001      P0002         Toys  South
2      2022-01-01     S001      P0003         Toys   West
3      2022-01-01     S001      P0004         Toys  North
4      2022-01-01     S001      P0005  Electronics   East
...           ...      ...        ...          ...    ...
73095  2024-01-01     S005      P0016    Furniture   East
73096  2024-01-01     S005      P0017         Toys  North
73097  2024-01-01     S005      P0018     Clothing   West
73098  2024-01-01     S005      P0019         Toys   East
73099  2024-01-01     S005      P0020    Groceries   East

[73100 rows x 5 columns]

In [31]:
dt.iloc[[1, 2,4], [0, 2]]

         Date Product ID
1  2022-01-01      P0002
2  2022-01-01      P0003
4  2022-01-01      P0005

In [35]:
dt.iloc[1, 1]

'S001'

In [39]:
dt.iloc[3:5, 0:2]

         Date Store ID
3  2022-01-01     S001
4  2022-01-01     S001

In [ ]:
dt.ProductId.values