In [12]:
import pandas as pd 
import numpy as np
dt=pd.read_csv('student_data.csv')

In [15]:
dt

,math_score,reading_score,writing score,placement_score,club join date,placement offer count,Gender
0,69,93,77,89,2020,3,Female
1,68,88,70,97,2019,2,Male
2,61,88,75,79,2020,3,Female
3,71,77,73,98,2021,2,Female
4,60,95,65,81,2019,3,Female
5,70,93,61,90,2018,3,Female
6,73,84,67,87,2020,2,Male
7,72,78,73,77,2021,3,Female
8,80,84,80,88,2020,2,Female
9,73,86,68,78,2018,2,Male
10,65,76,63,79,2021,2,Female
11,60,77,63,84,2020,3,Male
12,61,85,62,94,2020,3,Male
13,60,78,74,92,2019,3,Female
14,67,76,71,93,2021,2,Male
15,62,80,62,80,2020,3,Female
16,71,95,63,98,2019,2,Female
17,75,77,69,78,2020,3,Male
18,71,95,68,98,2021,3,Female
19,71,90,64,95,2021,2,Female
20,63,87,68,83,2019,2,Male
21,63,95,79,77,2021,3,Male
22,77,78,61,95,2020,3,Male
23,67,92,64,98,2018,2,Female
24,72,78,60,80,2019,3,Male
25,69,79,69,85,2018,3,Male
26,67,81,73,94,2020,2,Female
27,68,81,60,82,2020,2,Male
28,67,89,61,76,2019,1,Male

In [16]:
dt['Gender'] = dt['Gender'].map({'Male': 1, 'Female': 0})

In [17]:
dt

,math_score,reading_score,writing score,placement_score,club join date,placement offer count,Gender
0,69,93,77,89,2020,3,0
1,68,88,70,97,2019,2,1
2,61,88,75,79,2020,3,0
3,71,77,73,98,2021,2,0
4,60,95,65,81,2019,3,0
5,70,93,61,90,2018,3,0
6,73,84,67,87,2020,2,1
7,72,78,73,77,2021,3,0
8,80,84,80,88,2020,2,0
9,73,86,68,78,2018,2,1
10,65,76,63,79,2021,2,0
11,60,77,63,84,2020,3,1
12,61,85,62,94,2020,3,1
13,60,78,74,92,2019,3,0
14,67,76,71,93,2021,2,1
15,62,80,62,80,2020,3,0
16,71,95,63,98,2019,2,0
17,75,77,69,78,2020,3,1
18,71,95,68,98,2021,3,0
19,71,90,64,95,2021,2,0
20,63,87,68,83,2019,2,1
21,63,95,79,77,2021,3,1
22,77,78,61,95,2020,3,1
23,67,92,64,98,2018,2,0
24,72,78,60,80,2019,3,1
25,69,79,69,85,2018,3,1
26,67,81,73,94,2020,2,0
27,68,81,60,82,2020,2,1
28,67,89,61,76,2019,1,1

In [19]:
gender_counts = dt['Gender'].value_counts()
print(gender_counts)

0    15
1    14
Name: Gender, dtype: int64

In [20]:
dt.isnull()

,math_score,reading_score,writing score,placement_score,club join date,placement offer count,Gender
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False

In [22]:
print(np.where(dt['math_score']>90))

(array([], dtype=int64),)

In [24]:
print(np.where(dt['reading_score']>25))

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64),)

In [25]:
print(np.where(dt['reading_score']<25))

(array([], dtype=int64),)

In [26]:
print(np.where(dt['writing score']<30))

(array([], dtype=int64),)

In [35]:
fig, ax = plt.subplots(figsize = (18,10))
ax.scatter(dt['placement_score'] , dt['placement offer count'])
plt.show()

NameError: name 'plt' is not defined